<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <h2>Team Name: <%=params[:name] %></h2>
  <p>Coach: <%=params[:coach] %></p>
 </head>
 <body>
 


 </body>
</html>


